* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin:100px auto 0px;
  background-image: linear-gradient(315deg, #ffffff 0%, #000000 95%);
  background-color: #000000;
  
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fafafa;
  padding: 20px;
  
}

.logo {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.logoImage {
  width: 500px;
}

.image-container {
  margin: 2rem;

}

#image-card {
  width: 375px;
  height: 500px;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #00000020;
  margin: 4rem;
  padding: 1rem;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  background-color: white;
}

.image {
  width: 300px;
  height: 300px;
}

.title {
  text-align: center;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #000000dd;
}

.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.likes {
  font-size: 0.9rem;
  font-weight: 600;
}

.like-button {
  color: rgb(245, 143, 106);
  font-size: 1.5rem;
  border: none;
  background: none;
  /* border-radius: 90%; */
  transition: color 300ms;
  cursor: pointer;
  text-align: right;
  margin-inline-start: auto;
}

.like-button:hover {
  color: rgb(240, 60, 6);
}

.like-button:active {
  color: rgb(253, 159, 124);
}

.like-button:focus {
  outline: none;
}

.captions {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 0.85rem;
}

.caption li {
  margin: 2px 0;
  letter-spacing: 0.2px;
}

.newCaptions {
  display: flex;
  text-align: initial;
  /* flex-direction: row; */
  margin: 1%;
  box-shadow: 1px 1px 3px black
}

.caption-form {
  width: 100%;
  border-top: 1px solid #00000020;
  box-shadow: 1px 1px 3px black
}

#captionInput {
  width: 83%;
  border: none;
  font-size: 0.8rem;
}

.caption-input:focus {
  outline: none;
}

.caption-button {
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(6, 168, 133);
  cursor: pointer;
  transition: color 300ms;
}

.caption-button:hover {
  color: rgb(12, 80, 92);
}

.caption-button:active {
  color: rgb(12, 124, 96);
}

.caption-button:focus {
  outline: none;
}

.likeCount {
  padding-bottom: 10%;
  padding: 2%;
}

.caption-ul {
  display: contents;
  margin-left: 5%;
}

.captionScroll {
  overflow-y: auto;
  height: 125px;
}

div#body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newGif {
  text-align: -webkit-center;
}
